<ion-header>
    <ion-navbar *ngIf="kayitOlPage != null || sifreYenilePage != null">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{kayitOlPage}}{{sifreYenilePage}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding *ngIf="kayitOlPage == null && sifreYenilePage == null">
    <form (ngSubmit)="login()">
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="email" [(ngModel)]="loginData.email" name="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Şifre</ion-label>
            <ion-input type="password" [(ngModel)]="loginData.password" name="password"></ion-input>
        </ion-item>
        <button ion-button type="submit" block>Giriş Yap</button>
    </form>

    <br>
    <a (click)="digerSayfa('kayitOlPage')" block>Kayıt Ol</a>
    <a (click)="digerSayfa('sifreYenilePage')" block>Şifre Yenile</a>
        
</ion-content>

<ion-content padding *ngIf="kayitOlPage != null && sifreYenilePage == null">
    <h2>Kayıt Ol</h2>
    
    <form (ngSubmit)="register()">
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="email" [(ngModel)]="registerData.email" name="email"></ion-input>
        </ion-item>        
        <ion-item>
            <ion-label>Ad</ion-label>
            <ion-input type="text" [(ngModel)]="registerData.ad" name="ad"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Soyad</ion-label>
            <ion-input type="text" [(ngModel)]="registerData.soyad" name="soyad"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Şifre</ion-label>
            <ion-input type="password" [(ngModel)]="registerData.password" name="password"></ion-input>
        </ion-item>
        <button ion-button type="submit" block>Kayıt Ol</button>
    </form>        
</ion-content>

<ion-content padding *ngIf="kayitOlPage == null && sifreYenilePage != null">
    <h2>Şifre Değiştir</h2>
    
    <form (ngSubmit)="passReset()">
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="email" [(ngModel)]="passResetData.email" name="email"></ion-input>
        </ion-item>
        <button ion-button type="submit" block>Gönder</button>
    </form>        
</ion-content>