<ion-header>

    <ion-navbar>
        <ion-title>İlanlarım</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-spinner *ngIf="ilanlarim.length == 0" style="margin-top:20px;"></ion-spinner>

    <ion-list>
        <ion-item *ngFor="let ilan of ilanlarim" (click)="ilanDetay(ilan)">
            <ion-avatar item-left>
                <img [src]="ilan.random">
            </ion-avatar>
            <h2>{{ilan.baslik}}</h2>
            <p>{{ilan.aciklama}}</p>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll *ngIf="infiniteDahaFazla2" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-card *ngIf="infiniteDahaFazla2 == false">
        <ion-card-content>
            Buraya Kadar
        </ion-card-content>
    </ion-card>

</ion-content>