page-anasayfa {
    background: #fff; // ios da bazı yerkeri siyah gösteriyor
    
    // ion slide scroll bar
    .scroll-content::-webkit-scrollbar {
        // display: none !important;
    }
    ion-slide.swiper-slide::-webkit-scrollbar {
        // display: none !important;
    }

    // ion segment
    ion-segment.segment {
        width: 80%;
        margin: 0 auto;
    }
    // ion slide
    ion-slide.swiper-slide{
        padding-top: 44px; //88px;
        //overflow-y:scroll !important;
        //height: auto !important;
        -webkit-align-items: stretch !important;
        -ms-flex-align: stretch !important;
        align-items: stretch !important;
    }
    // ----------------

    .toolbar-background {
        height: 90% !important;
    }
    .toolbar-md {
        min-height: 43px !important;
    }
    .toolbar-title-ios {
        text-align: left !important;
    }
}
