<ion-header>
  <ion-navbar color="default">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
      <ion-badge item-right color="danger">2</ion-badge>
    </button>
    <ion-title>
      TransApp
      <!-- <ion-icon name="md-arrow-dropright" style="font-size:1em;"></ion-icon>
      {{topTabs}} -->
    </ion-title>
    <!-- Anasayfa Slider Aktif olduğu zaman bu kısım aktif edilmeli
      ion-segment [(ngModel)]="topTabs">
      <ion-segment-button value="ilanlar" (click)="slidereGit('ilanlar')">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bildirimler" (click)="slidereGit('bildirimler')">
        <ion-icon name="notifications"></ion-icon> 2
      </ion-segment-button>
    </ion-segment-->
    <ion-buttons end style="margin-left: 10px;">
      <button ion-button icon-only (click)="filtreAc()">
        <ion-icon name="funnel"></ion-icon> &nbsp;
      </button>
      <button ion-button icon-only (click)="searchComponenteGit()">
        <ion-icon name="search"></ion-icon> &nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>
  <!--ion-toolbar>
    <ion-segment [(ngModel)]="topTabs">
      <ion-segment-button value="ilanlar" (click)="slidereGit('ilanlar')">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bildirimler" (click)="slidereGit('bildirimler')">
        <ion-icon name="notifications"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar-->
</ion-header>


<ion-fab bottom right>
  <button (click)="ilanVer()" ion-fab>
      <ion-icon name="create"></ion-icon>
    </button>
</ion-fab>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-spinner *ngIf="ilanlar.length == 0" style="margin:20px auto; display:block;"></ion-spinner>

  <ion-list>
    <ion-item *ngFor="let ilan of ilanlar" (click)="ilanDetay(ilan)">
      <ion-avatar item-left>
        <img [src]="ilan.random">
      </ion-avatar>
      <h2 *ngIf="ilan.baslangic && ilan.bitis">
        {{ilan.baslangic.bolgeler[ilan.baslangic.bolgeler.length - 2]}}
         > 
        {{ilan.bitis.bolgeler[ilan.bitis.bolgeler.length - 2]}}
      </h2>
      <p>{{ilan.aciklama}}</p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll *ngIf="infiniteDahaFazla" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-card *ngIf="infiniteDahaFazla == false">
    <ion-card-content>
      Buraya Kadar
    </ion-card-content>
  </ion-card>

</ion-content>

<!-- Anasayfa Slider Aktif olduğu zaman bu kısım aktif edilmeli
  ion-slides #homeSlider (ionDidChange)="onSlideChanged()">
  <ion-slide>
    <tumilanlar filterText="test"></tumilanlar>
  </ion-slide>
  <ion-slide>
    <h2>Bildirimler</h2>
  </ion-slide>
</ion-slides-->