<ion-header>
  <ion-navbar>
    <button ion-button menuToggle></button>
    <ion-title>{{ilan.aciklama}}</ion-title>
    <ion-buttons *ngIf="aktifKullaniciId == ilan.ilaniVerenKullaniciId" end>
      <button ion-button icon-only (click)="duzenle()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="sil()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="ilan">
  <!--div #map id="map"></div-->
  <ion-img (click)="mapDetay()" class="staticMap" [src]="staticMapSrc" alt="Yükleniyor..."></ion-img>

  <ion-card>
    <ion-item *ngIf="ilanSuresiBitmis" color="danger">
      <ion-icon name="calendar" item-left></ion-icon>
      <h2 style="color:#fff">Bu ilanın Süresi Bitmiştir</h2>
    </ion-item>

    <ion-item color="primary" (click)="ilanVerenDetay()">
      <ion-avatar item-left>
        <img *ngIf="ilan.ilaniVerenKullanici.avatar" src="{{ilan.ilaniVerenKullanici.avatar.downloadURL}}">
      </ion-avatar>
      <h2 style="color:#fff">{{ilan.ilaniVerenKullanici.ad}} {{ilan.ilaniVerenKullanici.soyad}}</h2>
      <p>{{ilan.ilaniVerenKullanici.email}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="flag" item-left large></ion-icon>
      <h2>Nereden</h2>
      <p>{{ilan.baslangic.adres}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" item-left large></ion-icon>
      <h2>Nereye</h2>
      <p>{{ilan.bitis.adres}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-buffer" item-left large></ion-icon>
      <h2>Yük</h2>
      <p>{{ilan.yukCinsi}} - {{ilan.tonaj}} {{ilan.tonajTuru}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="quote" item-left large></ion-icon>
      <h2>Açıklama</h2>
      <p>{{ilan.aciklama}}</p>
    </ion-item>

    <ion-item *ngIf="ilan.ilaninSonaErmeTarihi">
      <span item-left>Bitiş Tarihi</span>
      <span item-left>{{ilan.ilaninSonaErmeTarihi}}</span>
    </ion-item>

  </ion-card>


  <div padding class="offers">

    <div class="teklif" *ngFor="let teklif of teklifler">
      <ion-chip (click)="teklifVerAlert(teklif)">
        <ion-avatar>
          <img *ngIf="teklif.teklifVerenKullanici.avatar" src="{{ilan.ilaniVerenKullanici.avatar.downloadURL}}">
        </ion-avatar>
        <ion-label>
          {{teklif.teklifVerenKullanici.ad}} {{teklif.teklifVerenKullanici.soyad}} - {{teklif.fiyat}} TL
        </ion-label>
      </ion-chip>
      <p>{{teklif.mesaj}}</p>
    </div>

    <br><br>

    <button (click)="teklifVerAlert()" icon-left ion-button round block>
      <ion-icon name="pricetag"></ion-icon>
      Teklif Ver
    </button>
  </div>

</ion-content>