<ion-header>
  <ion-navbar>
    <button ion-button menuToggle></button>
    <ion-title>{{ilan.aciklama}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="ilan">
  <ion-fab bottom left>
    <button ion-fab (click)="teklifVerAlert()">
      <ion-icon name="pricetag"></ion-icon>
    </button>
  </ion-fab>

  <!--div #map id="map"></div-->
  <ion-img (click)="mapDetay()" class="staticMap" [src]="staticMapSrc" alt="Yükleniyor..."></ion-img>

  <ion-card>
    <ion-item *ngIf="ilanSuresiBitmis" color="danger">
      <ion-icon name="calendar" item-left></ion-icon>
      <h2 style="color:#fff">Bu ilanın Süresi Bitmiştir</h2>
    </ion-item>

    <ion-item color="primary" (click)="ilanVerenDetay()">
      <ion-avatar item-left>
        <img [src]="ilan.random">
      </ion-avatar>
      <h2 style="color:#fff">{{ilan.ilaniVerenKullanici.displayName}}</h2>
      <p>{{ilan.ilaniVerenKullanici.email}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="flag" item-left large></ion-icon>
      <h2>Nereden</h2>
      <p>{{ilan.baslangic.adres}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" item-left large></ion-icon>
      <h2>Nereye</h2>
      <p>{{ilan.bitis.adres}}</p>
    </ion-item>

    <ion-item *ngIf="ilan.ilaninSonaErmeTarihi">
      <span item-left>Bitiş Tarihi</span>
      <span item-left>{{ilan.ilaninSonaErmeTarihi}}</span>
    </ion-item>

  </ion-card>


  <div padding class="offers" style="padding-bottom:70px;">

    <br><br>
    <ion-chip>
      <ion-avatar>
        <img [src]="ilan.random">
      </ion-avatar>
      <ion-label>{{ilan.ilaniVerenKullanici.ad}} {{ilan.ilaniVerenKullanici.soyad}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img [src]="ilan.random+1">
      </ion-avatar>
      <ion-label>{{ilan.ilaniVerenKullanici.ad}} {{ilan.ilaniVerenKullanici.soyad}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img [src]="ilan.random+2">
      </ion-avatar>
      <ion-label>{{ilan.ilaniVerenKullanici.ad}} {{ilan.ilaniVerenKullanici.soyad}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img [src]="ilan.random+3">
      </ion-avatar>
      <ion-label>{{ilan.ilaniVerenKullanici.ad}} {{ilan.ilaniVerenKullanici.soyad}}</ion-label>
    </ion-chip>
    <br><br>

  </div>

</ion-content>