page-ilandetay {
        .staticMap {
            position: fixed;
            width: 100%;
            border-bottom: 2px solid #387ef5;
            height: auto;
            background: #fff;
            contain: content;
        }
        .card {
            margin-top: 200px;
        }
        .item p {
            white-space: normal;
        }

        // TEKLİF İTEM
        div.teklif {
            p {
                margin-top: 0 !important;
                margin-left: 41px !important;
            }
        }
}
