<ion-header>
  <ion-navbar *nav></ion-navbar>
  <ion-toolbar>
    <ion-title>İlan Ver</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="ilanIptal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- 1. Aşama Başlangıç ve Bitiş Yerleri alınır -->
  <div *ngIf="aktifAsamaIndex == 1">
    <div class="map">
      <div #map id="map"></div>
    </div>
    <div class="kordinat-secme">
      <ion-list>
        <ion-item (click)="showAddressModal('nereden')">
          <ion-icon name="flag" item-left></ion-icon>
          Nereden
          <p *ngIf="ilanData.baslangic">{{ilanData.baslangic.adres}}</p>
          <p *ngIf="ilanData.baslangic == null">Başlangıç noktası seçiniz</p>
          <ion-icon *ngIf="ilanData.baslangic" item-right name="checkmark"></ion-icon>
        </ion-item>

        <ion-item (click)="showAddressModal('nereye')">
          <ion-icon name="pin" item-left></ion-icon>
          Nereye
          <p *ngIf="ilanData.bitis">{{ilanData.bitis.adres}}</p>
          <p *ngIf="ilanData.bitis == null">Bitiş noktası seçiniz</p>
          <ion-icon *ngIf="ilanData.bitis" item-right name="checkmark"></ion-icon>
        </ion-item>
        <!-- son itemin border-bottom göstermediği için boş item koyduk -->
        <ion-item style="display:none;"></ion-item>
      </ion-list>
      <div padding block style="text-align:center;">
              <button ion-button round icon-right (click)="ikinciAsamayaGec()">
                      Devam Et
                      <ion-icon name="arrow-forward"></ion-icon>
              </button>
      </div>
    </div>
  </div>
  <!--// 1-->

<!-- 2. Aşama ilanın Detay Bilgileri Alınır -->
<div *ngIf="aktifAsamaIndex == 2">
  <ion-list>
    <ion-item-divider>
      Yük Sahibi Olarak İlan Paylaşımı
    </ion-item-divider>

    <ion-item>
      <ion-label color="primary" stacked>Açıklama</ion-label>
      <ion-input type="text" [(ngModel)]="ilanData.aciklama"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar" item-left></ion-icon>
      <ion-label color="primary">İlanın Bitiş Tarihi</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [min]="minDate" [max]="maxDate" [(ngModel)]="ilanData.ilaninSonaErmeTarihi" cancelText="Vazgeç" doneText="Tamam"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Yük Cinsi</ion-label>
      <ion-input type="text" [(ngModel)]="ilanData.yukCinsi"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>
          <ion-item style="margin-left:-15px; border-bottom:1px solid #dedede;">
            <ion-label color="primary" stacked>Tonaj</ion-label>
            <ion-input type="number" [(ngModel)]="ilanData.tonaj"></ion-input>
          </ion-item>
        </ion-label>
        <div item-content style="margin-top:20px;">
          <ion-list radio-group [(ngModel)]="ilanData.tonajTuru">
            <ion-item>
              <ion-label>Ton</ion-label>
              <ion-radio value="ton" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Kilogram</ion-label>
              <ion-radio value="kg"></ion-radio>
            </ion-item>
          </ion-list>
        </div>
</ion-item>

</ion-list>

<div padding block style="text-align:center;">
<button ion-button round icon-left color="light" (click)="geriAsamayaGit()">
      <ion-icon name="arrow-back"></ion-icon>
      Geri
    </button>
<button ion-button round (click)="gonder()">İlanı Gönder</button>
</div>
</div>
<!--// 2-->

</ion-content>