page-ilanver {
    /*
        .map {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 50%;
            border-bottom: 2px solid #387ef5;
            background: #fff;
        }
        #map {
            height: 100%;
            background: #fff;
        }
        */
        .staticMap {
            position: relative;
            width: 100%;
            border-bottom: 2px solid #387ef5;
            height: auto;
            background: #fff;
            contain: content;
        }
}
