page-ilanver {
        .map {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 50%;
            border-bottom: 2px solid #387ef5;
            background: #fff;
        }
        #map {
            height: 100%;
            background: #fff;
        }
        .kordinat-secme {
            position: absolute;
            width: 100%;
            height: 50%;
            overflow: auto;
            bottom: 0;
        }
}
