<ion-header>
  <ion-toolbar>
    <ion-searchbar #searchbar placeholder="Şehir Bul" [(ngModel)]="autocomplete.query" (ionInput)="updateSearch()"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-left (click)="dismiss()">
        <ion-icon name="close"></ion-icon> Vazgeç
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-content>