<ion-header no-shadow>
  <ion-navbar *nav>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar #searchbar placeholder="Arama Yapın" cancelButtonText="Vazgeç" (ionInput)="searchGet($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-left (click)="dismiss()">
        <ion-icon name="close"></ion-icon> Vazgeç
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail-push *ngFor="let ilan of ilanlar" (click)="ilanDetay(ilan)">
      <ion-avatar item-left>
        <img src="{{ilan.ilaniVerenKullanici.avatar.downloadURL}}">
      </ion-avatar>
      <h2>{{ilan.baslik}}</h2>
      <p>{{ilan.aciklama}}</p>
    </ion-item>
  </ion-list>
</ion-content>