<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-spinner *ngIf="ilanlar.length == 0" style="margin-top:20px;"></ion-spinner>

    <ion-list>
        <ion-item *ngFor="let ilan of ilanlar" (click)="ilanDetay(ilan)">
            <ion-avatar item-left>
                <img src="{{ilan.ilaniVerenKullanici.avatar.downloadURL}}">
            </ion-avatar>
            <h2>{{ilan.baslik}}</h2>
            <p>{{ilan.aciklama}}</p>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll *ngIf="infiniteDahaFazla" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-card *ngIf="infiniteDahaFazla == false">
        <ion-card-content>
            Buraya Kadar
        </ion-card-content>
    </ion-card>

</ion-content>